@font-face {
  font-family: "trip-sans";
  src: url("fonts/trip-sans-bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "trip-sans";
  src: url("fonts/trip-sans.otf");
}

* {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", "trip-sans";
  color: #002b11;
}

/* NAVBAR------------------------------ */

.navbar {
  padding: 1% 5% 1% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.logo-s1__svg {
  width: 200px;
}

.navbar-s2 {
  display: flex;
  gap: 30px;
  font-weight: 500;
}

.navbar-s3 {
  display: flex;
  gap: 25px;
}

/* INR button-------------------------- */

.navbar-s3__inr {
  color: black;
  width: 80px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* sign in button---------------------- */

.navbar-s3__signinbtn {
  background-color: #002b11;
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 40px;
  font-weight: 900;
  font-size: 15px;
}

/* search section----------------------- */

/* section one */
.search-s1 {
  display: flex;
  justify-content: center;
}

.search-s1 h1 {
  font-size: 50px;
  font-weight: 900;
  padding: 4%;
  font-family: "trip-sans";
  font-weight: bold;
}

/* section two */
.search-s2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0% 2% 2% 2%;
}

.search-s2__one,
.search-s2__two,
.search-s2__three,
.search-s2__four {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  gap: 5px;
}
/* section three */
.search-s3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-s3__searchbar {
  background-color: #f7f7f7;
  border: solid #dfe1df 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.search-s3__searchbar div {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.search-s3__searchbar input {
  border: none;
  width: 600px;
  background-color: transparent;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  font-size: 16px; 
}


.search-s3__btn{
  background-color: #00EB5B;
  border: solid #00AB42 1.5px;
  padding: 12px 25px 12px 25px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 16px;
}

